# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\jacka\Google Drive\Waterford\Semester 2\Programming Fundamentals 2\Assignment2jack_aherne\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
